* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

ul {
  list-style-type: none;
}

main {
  margin: auto;
}

img {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.toolbar {
  background-color: #3c3a39;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.toolbar a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.toolbar img {
  width: 18px;
  height: 12px;
}

.toolbar .menu {
  display: none;
}

.menu-list-show {
  position: relative;
  top: 10px;
  left: 0;
  width: 100vw;
  height: 100vh;
  line-height: 40px;
  background-color: #3C3A39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar .menu ul {
  display: block;
}

.email-icon {
  display: none;
}

@media screen and (min-width: 1024px) {
  .toolbar {
    padding: 0 100px;
    height: 72px;
  }
  .email-icon {
    display: block;
  }
  
  .close-menu {
    display: none;
  }
  .toolbar i {
    display: none;
  }

  .toolbar .menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .toolbar .menu ul {
    display: flex;
    gap: 12px;
  }

  .toolbar .menu ul li a {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }
}

.headline {
  position: relative;
  background-color: black;
  background-image: url("./assets/imagebg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 150px 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  height: 100vh;
}

.headline .infos .title {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.headline .infos .sub-title {
  color: #fff5e1;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 12px 0;
}

.headline .infos p {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
}

.headline .socials ul {
  display: flex;
  gap: 20px;
  padding: 8px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .headline {
    background-image: url("./assets/Illustration-header.png");
    background-position: right top;
    background-size: 400px 100%;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  .headline p {
    max-width: 400px;
  }

  .headline .infos {
    order: 2;
  }

  .headline .socials {
    order: 1;
  }

  .headline .socials ul {
    flex-direction: column;
  }
}

@media (min-width: 820px) {
  .headline {
    gap: 85px;
  }

  .headline p {
    max-width: 450px;
  }
}

.works {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
}

.works .title h2 {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
}

hr {
  margin-top: 24px;
  margin-bottom: 80px;
}

.work-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px;
}

.work-container .hero-work {
  display: flex;
  flex-direction: column;
}

.work-container .hero-work img {
  width: 327px;
  height: 237px;
  margin-bottom: 24px;
  transition: transform 1s;
}

.work-container .hero-work img:hover {
  transform: scale(1.1);
}

.work-container .hero-work h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.work-container .hero-work p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 12px 0;
}

.work-container .hero-work ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  gap: 12px;
  padding: 12px 0;
}

.work-container .hero-work ul li {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  transition: all 0.8s;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.work-container .hero-work button {
  width: 124px;
  height: 48px;
}

.work-container .work-card {
  display: flex;
  flex-direction: column;
  padding-top: 84px;
  background-color:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0%) 0.75%,
      rgba(38, 38, 38, 90%) 61.94%
    );
  background-image: url("./assets/workimg.png");
}

.work-container .work-card .title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 24px;
}

.work-container .work-card p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 16px;
}

.work-container .work-card ul {
  display: flex;
  gap: 12px;
  margin-bottom: 22px;
  margin-left: 16px;
}

.work-container .work-card ul li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 24%);
}

.work-container .work-card button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .works {
    padding: 20px;
  }

  .works .title h2 {
    float: left;
    margin-right: 24px;
  }

  .work-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }

  .work-container .hero-work {
    display: block;
    grid-column: 1 / 3;
  }

  .work-container .hero-work img {
    float: left;
    height: 330px;
    margin-right: 24px;
  }
}

@media (min-width: 820px) {
  .works {
    padding: 50px;
  }

  .work-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
  }

  .work-container .hero-work {
    display: block;
    grid-column: 1 / 4;
  }

  .work-container .hero-work img {
    float: left;
    width: 60%;
    height: 448px;
    margin-right: 24px;
  }

  .work-container .work-card {
    padding-top: 50px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
}

.about .top {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 209px;
  background-image: url("./assets/aboutbg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 150px 260px;
}

.about .top * {
  margin: 0 24px;
}

.about .top h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about .top p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px;
}

.about .top button {
  width: 161px;
}

.about .bottom {
  padding-top: 136px;
  padding-bottom: 99px;
}

.about .bottom ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language,
.frameworks,
.skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.about .bottom ul li ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 44px 0;
}

.about .bottom ul li ul li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .about .top {
    background-image: url("./assets/aboutBackground.png");
    background-position: right 100px;
    background-size: 400px 300px;
    padding-left: 10px;
  }

  .about .top p {
    max-width: 350px;
  }

  .about hr {
    margin: 0 50px;
  }

  .about .bottom {
    padding: 50px;
  }

  .about .bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
  }
}

@media (min-width: 820px) {
  .about .top {
    padding-left: 50px;
  }

  .about .top p {
    max-width: 400px;
  }
}

.contact .contact-form {
  padding: 120px 24px;
  background-color: #fff;
  border-bottom: 1px solid #dfe1e6;
}

.contact .contact-form h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 59px;
}

.contact .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.contact input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px;
}

.contact textarea {
  background-color: #fbf8f7;
  padding: 12px;
  width: 100%;
  height: 114px;
}

.contact .contact-icons {
  border-top: 1px solid #dfe1e6;
  background: #fff;
  padding: 20px 0;
}

.contact .contact-icons .contact-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .contact .contact-form {
    display: flex;
    gap: 40px;
    padding: 70px;
  }

  .contact .contact-form form {
    width: 100%;
    align-items: start;
  }

  .contact .contact-form h2 {
    max-width: 300px;
    text-align: left;
  }
}
